.layout_aside {
    background: gray;
}
.layout_aside-navigation {
    height: 25px;
    line-height: 25px;
}
.layout_aside-viewport {
    width: 100%;
    height: calc(100% - 25px);
    overflow: hidden;
}

.layout_aside-ribbon {
    display: flex;
    height: 100%;
    width: 300%;
    transition: transform 0.3s;
}

.layout_aside-ribbon > * {
    height: 100%;
    width: 33.33%;
}

.layout_aside-ribbon--labels {
    transform: translateX(0);
}
.layout_aside-ribbon--notebooks {
    transform: translateX(-33.33%);
}
.layout_aside-ribbon--notes {
    transform: translateX(-66.66%);
}
