/* @todo fix transition */

.component_aside {
    height: 100%;
    background: gray;
}
.component_aside-navigation {
    height: 25px;
    line-height: 25px;
    padding-left: var(--std-hz-margin);
    padding-right: var(--std-hz-margin);
}
.component_aside-viewport {
    width: 100%;
    height: calc(100% - 25px);
    overflow: hidden;
}

.component_aside-ribbon {
    display: flex;
    height: 100%;
    width: 300%;
    transition: transform 0.3s;
}

.component_aside-ribbon > * {
    height: 100%;
    width: 33.33%;
    padding-left: var(--std-hz-margin);
    padding-right: var(--std-hz-margin);
}

.component_aside-ribbon--notebooks {
    transform: translateX(0);
}
.component_aside-ribbon--labels {
    transform: translateX(-33.33%);
}
.component_aside-ribbon--notes {
    transform: translateX(-66.66%);
}
