:root {
    --std-hz-margin: 15px;
}

.layout_mainRow {
    display: flex;
    width: 100%;
    height: calc(100vh - 30px);
}

.layout_aside {
    order: 0;
    width: 40%;
    height: 100%;
    overflow: scroll;
}

.layout_main {
    order: 1;
    width: 60%;
    height: 100%;
    overflow: scroll;
}

.layout_footer {
    line-height: 25px;
    text-align: right;
}
